<h1>Listing sprints</h1>
<%#= image_tag("spinner.gif",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>

<%= render :partial => "sprints_list", :locals => { :sprints => @sprints } %>

<br />

<%= link_to 'New sprint', new_sprint_path %>